.mainHome {
  border-radius: 0px 50px 0px 0px;
}

.imgCarousel {
  width: 100%;
}

.imgCarousel:nth-child(2) {
  position: relative;
}

.item2 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Caveat", cursive;
  font-size: 3em;
  color: white;
}

.item2 button {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  outline: none;
  border: none;
  background-color: white;
}

.item2 button:hover {
  background-color: #bc8da7;
  color: white;
  box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#intro {
  padding-top: 2em;
}

#intro img {
  width: 40%;
  height: auto;
  float: right;
}

#cartelera {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

#cartelera img {
  height: 350px;
  width: auto;
}

#cartelera img:nth-child(1) {
  animation-name: mymove;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#cartelera img:nth-child(2) {
  animation-name: mymove;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#cartelera img:nth-child(3) {
  animation-name: mymove;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#cartelera img:nth-child(4) {
  animation-name: mymove;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes mymove {
  50% {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

/* #cartelera img:hover {
  cursor: pointer;
  filter: brightness(0.5);
} */

/* MEDIA QUERIES */

@media only screen and (max-width: 1115px) {
  /* En App.css line-height: 3em */
  .item2 p {
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
  }
  #cartelera img {
    width: 25%;
    height: auto;
  }
}

@media only screen and (max-width: 640px) {
  #cartelera img {
    width: 50%;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .mainHome {
    border-radius: 50px 50px 0px 0px;
  }
  .item2 p {
    font-size: 1.5em;
    top: 30%;
    text-align: center;
  }
  #intro img {
    width: 100%;
    float: none;
  }
}
