.mainInspiracion {
  border-radius: 50px 50px 0px 0px;
}

#grilla {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

#grilla img {
  width: 20%;
  height: max-content;
}

#grilla img:hover {
  cursor: pointer;
  scale: 1.5;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 889px) {
  #grilla img {
    width: 30%;
  }
}

@media only screen and (max-width: 600px) {
  #grilla img {
    width: 40%;
  }
}
