.mainNosotras {
  border-radius: 50px 50px 0px 0px;
}

#imgNosotras {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#perfiles {
  display: flex;
  justify-content: center;
  gap: 1em;
  background-color: transparent;
  width: 100%;
  height: 280px;
}

.contenedor-perfil {
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  width: 22%;
  text-align: center;
  /*   transition: transform 0.8s; */
  transform-style: preserve-3d; /* Si borro animation, dejar transition y preserve. Dejar :hover. */
}

.front-profile,
.back-profile {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ceb3ab;
  border-radius: 50px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

.front-profile img {
  width: 100%;
}

.back-profile p {
  font-size: 80%;
  margin: 0;
}

.back-profile .fa-solid {
  margin-right: 0.5em;
}

.contenedor-perfil:nth-child(1) {
  animation-name: mymove2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.contenedor-perfil:nth-child(2) {
  animation-name: mymove2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.contenedor-perfil:nth-child(3) {
  animation-name: mymove2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.contenedor-perfil:nth-child(4) {
  animation-name: mymove2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes mymove2 {
  50% {
    transform: rotateY(180deg);
  }
}

/* .contenedor-perfil:hover {
    cursor: pointer;
    transform: rotateY(180deg);
  } */

.front-profile,
.back-profile {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.back-profile {
  transform: rotateY(180deg);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1115px) {
  .contenedor-perfil h3 {
    font-size: 0.89em;
  }
  .contenedor-perfil p {
    font-size: 0.65em;
  }
  #imgNosotras {
    width: 80%;
  }
  .front-profile img {
    height: 60%;
    width: fit-content;
  }
  .front-profile {
    align-items: center;
  }
}

@media only screen and (max-width: 800px) {
  #perfiles {
    flex-wrap: wrap;
    height: 500px;
  }
  .contenedor-perfil {
    width: 40%;
    height: 40%;
  }
  .front-profile img {
    height: 80%;
    width: fit-content;
  }
}

@media only screen and (max-width: 479px) {
  #perfiles {
    flex-wrap: nowrap;
    flex-direction: column;
    height: 1000px;
    align-items: center;
  }
  .contenedor-perfil {
    height: 33%;
    width: 65%;
  }
}
