footer {
  height: 250px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

footer p {
  margin: 0;
}

footer input {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: black;
  border-bottom: 2px solid white;
  color: pink;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

footer input:placeholder-shown {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

footer button {
  margin-bottom: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
}

footer button:hover {
  background-color: #bc8da7;
  color: white;
  box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

footer i {
  font-size: 2em;
}

footer i:hover {
  font-weight: bolder;
  cursor: pointer;
}

.fa-whatsapp {
  font-size: 2.5em;
}

small {
  margin-top: 1em;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 959px) {
  footer {
    flex-wrap: wrap;
    height: auto;
    padding-top: 1em;
    padding-bottom: 3em;
    gap: 1em;
    justify-content: center;
  }
  footer div {
    width: 33%;
    text-align: center;
  }
  small {
    padding-top: 1em;
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

@media only screen and (max-width: 600px) {
  footer {
    text-align: center;
    height: auto;
    flex-direction: column;
    padding: 2em 1em 5em 1em;
  }
  footer div {
    width: 100%;
  }
  small {
    bottom: 2em;
  }
}
